<%
	function format_crefs(cref_array) {
		return cref_array.map(txt => txt.replace(/\*(\d)\*/, "<sup>$1</sup>")).join(", ")
	}
%>

<% if(comp_wlps) { %>
	<span class="cref_label comp_wlps">See also:</span>
	<%- format_crefs(comp_wlps) -%>.
<% } %>

<% if(synonyms) { %>
	<span class="cref_label synonyms">Same as:</span>
	<%- format_crefs(synonyms) -%>.
<% } %>

<% if(comp_sl) { %>
	<span class="cref_label comp_sl">Signs:</span>
	<%= comp_sl -%>.
<% } %>
