<%

    var examples_xml = '';

    example_blocks.map(({comments, example_pairs}) => {

        examples_xml += ` <examples>`

        if(comments) {
            examples_xml += `<ex_comments aid:cstyle="ex_comments">${ comments.join(". ").replace(/<(.*?)>/g, "<vern_in_coms aid:cstyle=\"ex_vern_in_coms\">$1</vern_in_coms>") } </ex_comments>`
        }

        example_pairs.map(({wlp, eng}) => {
            examples_xml +=   `<example><label_ex aid:cstyle="ex_label">◆ </label_ex>`
                            + `<ex_vernacular aid:cstyle="ex_vernacular">`
                            + wlp.replace(/#j<(.*?)>/g, "{$1}").replace(/<(.*?)>/g, "<ex_eng_in_vern aid:cstyle=\"ex_eng_in_vern\">$1</ex_eng_in_vern>").replace(/{(.*?)}/g, "<ex_emphasis aid:cstyle=\"ex_emphasis\">$1</ex_emphasis>")
                            + ` </ex_vernacular>`
                            + `<ex_english aid:cstyle="ex_english">`
                            + eng.replace(/#j<(.*?)>/g, "{$1}").replace(/<(.*?)>/g, "<ex_vern_in_eng aid:cstyle=\"ex_vern_in_eng\">$1</ex_vern_in_eng>").replace(/{(.*?)}/g, "<ex_emphasis aid:cstyle=\"ex_emphasis\">$1</ex_emphasis>")
                            + `</ex_english>`
                            + `</example>`
        })

        examples_xml += `</examples> `

    })

-%>
<%- examples_xml -%>